@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    #root,
    body,
    html {
        @apply h-full;
        @apply w-full;
        @apply bg-dark;
    }

    body {
        @apply m-0;
        @apply antialiased;
        @apply font-sans
    }

    #root {
        @apply flex;
        @apply justify-center;
    }

    *:hover~.display-on-previous-hover,
    .display-on-previous-hover>a {
        @apply block;
    }

    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}