@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .normal {
        @apply bg-dark;
        @apply text-light;
        @apply border-light;
    }

    .inverted {
        @apply bg-light;
        @apply text-dark;
        @apply border-dark;
    }

    .contrast {
        @apply bg-blue;
        @apply text-light;
        @apply border-light;
    }

    .warning {
        @apply bg-red;
        @apply text-light;
        @apply border-light;
    }

    .hover:hover {
        @apply border-2;
        @apply bg-dark;
        @apply text-light;
        @apply border-light;
    }

    #root,
    body,
    html {
        @apply h-full;
        @apply w-full;
        @apply normal;
    }

    body {
        @apply m-0;
        @apply antialiased;
        @apply font-sans
    }

    #root {
        @apply flex;
        @apply justify-center;
    }

    .button {
        @apply flex p-2 select-none rounded-md border-2 border-transparent hover;
    }

    .drop-down {
        @apply shadow shadow-light p-1 sm:left-0 sm:right-0 absolute sm:fixed grid grid-cols-1 z-10 normal;
    }

    .input-no-button {
        @apply p-3 text-center bg-none border-l sm:first:border-l-0 sm:border-t
    }

    .input-no-button::-webkit-inner-spin-button,
    .input-no-button::-webkit-outer-spin-button,
    .input-no-button::-webkit-inner-spin-button,
    .input-no-button::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
}